BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
OWNER_ID=111111111
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/
DATABASE_NAME=botdb
DUMP_CHANNEL=-1001234567890
DUMP_BOT_TOKENS=token1,token2,token3
MAX_CONCURRENT_NORMAL=10
MAX_CONCURRENT_ADMIN=100
MAX_FILE_SIZE_GB=2.0
